.header{
    width: 100%;
    padding: 3rem 0;
    
    font-size: inherit;
    font-family: inherit;

    display: flex;
    justify-content: space-between;

}
.header .logo{
    cursor: pointer;

    font-size: var(--fs-large);
    font-family: inherit;

    transition: all 0.7s;
}
.header .logo:hover{
    
    color: var(--color-light-blue);
}
.header .logo a{
    text-decoration: none;
    font-size: var(--fs-large);
    font-family: inherit;
    color: inherit;
}

.header .nav{
    width: 40%;
    
    font-size: inherit;
    font-family: inherit;
}
.header .nav-main{
    display: flex;
    justify-content: flex-end;
}
.header .nav-main__item{
    list-style: none;
}
.header .nav-main__item:first-child{
    padding: 0 2rem 0 0;
}
.header .user-name{
    color: var(--color-light-blue);
}
.header .nav-main__item a{
    text-decoration: none;
    color: inherit;
}
